<%- include('partials/head') %>

    <%- include('partials/navbar') %>
    <h1>모든 고양이</h1>
    <p><%= cats %></p>

    <ul>
    <% for(let cat of cats) { %>
        <li><%= cat %></li>
    <% } %>
    </ul>

<%- include('partials/footer') %>