<%- include('partials/head') %>

    <%- include('partials/navbar') %>
    <h1>당신의 무작위 번호는 : <%= num %></h1>
    <% if(num %2 === 0) { %>
        <h2>짝수입니다.</h2>
    <% } else { %>
        <h2>홀수입니다.</h2>
    <% } %>
    <h3><%= num%2 === 0? '짝수': '홀수' %></h3>
    
<%- include('partials/footer') %>